<p id="notice"><%= notice %></p>

<h1>Listing Authors</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Affiliations</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.author_id %></td>
        <td><%= author.name %></td>
        <td>
        <% PapersAuthorsAffiliation.joins(:author, :affiliation)
          .where(author_id: author.author_id)
          .map { |e| Affiliation.where(affiliation_id: e.affiliation_id).first }.uniq.each do |affiliation| %>
            <%= affiliation.name %> (<%= affiliation.affiliation_id %>)</br>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Author', new_author_path %>
