<div class="panel panel-default">
  <div class="panel-body">
<script>
$(document).ready(function(){
    $('#dataTable').dataTable({
        "paging":   true,
        "ordering": true,
        "info":     false });
});

</script>
<div class="page-header">
  <h1>Team Titans</h1>
</div>
<div class="alert alert-warning" role="alert"><strong>KDD Cup 2016</strong> Rankings</div>
<table id="dataTable"  class="display">
  <thead>
  <tr>
    <th>Conference</th>
    <th>Year</th>
    <th>Paper</th>
    <th>Author</th>
    <th>Affiliation</th>
    <th>Author Score</th>
    <th>Affiliation Score</th>
  </tr>
  </thead>
  <tbody>
  <% @papers_authors_affiliations.each do |paa| %>
    <tr>
      <td><%= paa.paper.conference_id %></td>
      <td><%= paa.paper.publish_year %></td>
      <td><%= paa.paper.paper_id %></td>
      <td><%= paa.author_id %></td>
      <td><%= paa.affiliation.name %></td>
      <td><%= paa.author_score %></td>
      <td><%= paa.affiliation_score %></td>
    </tr>
  <% end %>
</tbody>
</table>
</div>
</div>
